[package]
name = "application-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4.17"
serde = "1.0.160"
serde_yaml = "0.9.21"
simple_logger = "4.1.0"
thiserror = "1.0.40"
