[package]
name = "capp"
version = "0.4.5"
edition = "2021"
license = "MIT"
authors = ["oiwn"]
description = "Common things i use to build Rust CLI tools for web crawlers."
homepage = "https://github.com/oiwn/capp-rs"
repository = "https://github.com/oiwn/capp-rs"
readme = "README.md"
keywords = ["web-crawler", "async", "executor"]
categories = ["asynchronous", "web-programming", "concurrency"]
exclude = [
    "tmp/*",
    # "benches/*",
    "html/*",
    ".github/*",
    ".gitignore",
    ".tmuxp.yaml",
    "notes.org"
]

[lib]
name = "capp"
path = "src/lib.rs"
doctest = false

[dependencies]
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
anyhow.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
tokio.workspace = true
async-trait.workspace = true
uuid.workspace = true
# TODO: figure out why can't have derive_builder as common dep.
# derive_builder.workspace = true

capp-config = { path = "../capp-config", features=["http", "router"] }
capp-queue = { path = "../capp-queue", features=["redis"] }

derive_builder = { version = "0.20" }
reqwest = { version = "0.12", features = ["gzip", "rustls-tls", "json"], optional = true }
serde_yaml = "0.9"
rustis = { version = "0.13", features = ["tokio-runtime"], optional = true }
tracing-futures = "0.2"

[dev-dependencies]
capp = { path = ".", features = ["http", "healthcheck", "redis"] }
hyper = { version = "1.5", features = ["server", "http1"] }
http-body-util = "0.1"
bytes = "1.6"
pin-project-lite = "0.2"
dotenvy = "0.15"
scraper = "0.21"
rand = "0.8"
md5 = "0.7"
url = "2.5"
base64 = "0.22"
tempfile = "3"

[features]
http = ["dep:reqwest", "capp-config/http"]
router = ["capp-config/router"]
healthcheck = ["dep:reqwest"]
redis = ["dep:rustis", "capp-queue/redis"]
